<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UkayApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F012B76D1C3DC3A7003D827C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F012B7831C3DC3A7003D827C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F012B78E1C3DC3A7003D827C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
